config_version: 0
gateway:
  files_base_dir: "/tmp/clawp"
  # The umask that is used for the gateway process.
  umask: 0o0007
  openrouter:
    # The api_key can be provided via the CLAWP_OPENROUTER_API_KEY environment
    # variable.
    # api_key: ""
    model:
      name: "stepfun/step-3.5-flash:free"
      doom_loop_max_requests: 10
      message_send_timeout: "PT30S"
      request_timeout: "PT2M"
  api:
    host: "0.0.0.0"
    port: 8000
    log_level: "info"
  channels:
    matrix:
      accounts:
        - homeserver: "https://matrix.org"
          username: "@your-user:matrix.org"
          # The password for this account can be provided via the
          # CLAWP_MATRIX_PASSWORD_0 environment variable, the next one via
          # CLAWP_MATRIX_PASSWORD_1 etc.
          # password: ""
          device_id: "clawp"
  tools:
    # Client-side timeout for tool calls (applies to all tools).
    client_timeout: "PT2M"
    shell:
      # SSH connection details to connect to the shell environment.
      ssh:
        host: "shell-sandbox"
        port: 22
        username: "root"
        key_filename: "/app/clawp_files/shell_sandbox/id_shell_sandbox"
      # Value of the PATH variable in the shell.
      path: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
