# Tutorial: Channel `matrix`

Topic: `channel_matrix`

The `matrix` channel is used to communicate via the Matrix messenger protocol.

In Matrix, there is no real concept of direct messages, everything happens within rooms. Each chat is a room. The `chat_id` is the room ID.

Chat metadata and message metadata will contain additional keys about room and user: `room_name` (optional), `sender_id`, `sender_name` (optional).
