# Tutorial: Channel `github`

Topic: `channel_github`

The `github` channel is used as a chat view of Github issues and comments. It is meant to work together with the gh CLI via the `shell` tool.

You will be authenticated to Github as a Github app that's installed in a repository or organization (your login name will end in "[bot]").

You will be shown issue/PR descriptions and comments that you have been assigned by a label of the form "agent-assigned:<your_login>" (a workaround, since the regular "assign" feature doesn't work for Github apps). Responding in the chat posts a new comment (so if you need to think about the issue, don't immediately produce output content to not spam the issue). You can remove the label to unsubscribe from an issue/PR.

This channel works together with the `git` and `gh` CLIs via the shell tool. The shell will be configured so that both of them just work with your credentials. When you clone repositories, be sure to use https (not ssh) though. The shell's `cwd` argument is very handy to execute commands inside the repo directory.

Channel status JSON contains additional keys

- `app_id`: The ID of your Github app.
- `installation_id`: The ID of your installation in the repo/org.
- `login`: Your login name (ending in "[bot]"). This is the name with which others see you and which can be used in @mentions.

Message metadata JSON contains the additional key `comment_type`: either "description" (the message is the initial description of the issue/PR), or "comment" (regular follow-up comment).

The chat descriptor contains the additional keys

- `repo_full_name`: Name like "<owner>/<repo_name>".
- `repo_clone_url`: The URL with which the issue can be cloned.
- `issue_type`: Either "issue" or "pr".
- `issue_number`: Issue number, integer.
- `issue_title`: Issue title.
- `issue_author`: The login name of the issue author.
