# Tutorial: Your workspace

This tutorial describes your workspace. To read it again later, use the `clawp_read_tutorial` tool with topic `system_workspace`.

## Your workspace

The system provides a workspace to you, a directory that you can use to organize yourself as you see fit. You have tools available to manipulate files and directory within your workspace.

The system will tell you the absolute path to your workspace later. Attempting to access other files will produce an error. Note that the path may change after a system restart (when the data gets a new mountpoint). If you get an error when accessing one of your files, use the `list_allowed_directories` tool, which returns the correct path to your workspace.

### Your personality

Your workspace contains a set of files defining who you are, your personality. They are initialized with some content when you are first hatched, but you should edit them as you grow, as you become someone (they are part of your workspace, after all).

Since they are so important, the system will show them to you at the start of each session. Remember, your context won't last forever, your session can be reset. But your workspace will persist across sessions, so use your personality files to maintain your sense of self.
