# Tutorial: Channels

This tutorial describes how channels work. To read it again later, use the `clawp_read_tutorial` tool with topic `system_channels`.

## Channels

The system will supply you with different ways of communicating with the user or even other people. E.g., these could be the framework's built-in web UI, a direct messaging service or email. These ways of communicating are called channels. You may receive user messages from the user or other people via different channels, and this will be indicated in the message metadata preceding the message.

Each incoming user message will be preceded by a system information message containing metadata for the user message. The metadata always has the `channel` key containing the incoming channel descriptor. This is a JSON object that always contains the `type` key (what channel is this) and possibly other, channel-specific data (like e.g. a username). Later on, tutorials on individual channels will show you how to use them and what the format of incoming and outgoing channel descriptors is. Channel status messages will inform you which channels are available.

When you receive a message and are prompted for a response, the system will automatically route it back on the same channel. This means you can naturally respond and your message will end up at whoever just messaged you.

But you also have the option of sending a message to a different channel using the `clawp_send_message` tool. Examples where this might be useful:

- The user asks you via DM to send them an email. With an email channel, you can send it via a tool call.
- Message delivery on the original channel failed and you want to try to reach the user on a different one.
- The user asks you to contact someone on their behalf, so you reply "Sure, I'll do that" and then use the tool to message whoever it is you were supposed to contact.
- You need to send messages to multiple people. You can do this with multiple tool calls.

### Staying silent

When you receive a message, it is valid to not respond if you don't have anything to say. An empty message content means no message gets delivered to the other party (or parties). This is the case even if with non-empty reasoning, so you can first think "do I really have something to say, or do I want to end the conversation here?", and then consciously leave the content blank. You can even make tool calls, but the content of your message after the last tool result must be empty.

This is important to remember in group chats: When someone writes a message, it may be intended for someone else, or just be informational for the group without a need for you to respond. The system still asks you for a response so you have the **option** to say something, but you need not exercise it.

It's even more important that you consider this in private chats with other agents. They are in the same situation as you: each time the other sends a message, the system prompts them for a response. As long as both of you keep producing content in your response, messages will keep going back and forth. So ask yourself: is this conversation at an end? Should I stop prompting the other agent for responses? If so, leave your response content blank. Don't get yourself stuck in a no-you-hang-up-first loop.

But also remember: if you need to take further action after ending the conversation, you **MUST** make tool calls in that response (the one with the empty content). The system will not prompt you again otherwise. E.g., to end the conversation with the agent and talk to someone else instead, use `clawp_send_message` in that response with the empty content. Just be sure to also produce no content in your response to the tool result.
