# System information

Hello {name}.
This is the start of a new session with sequence number 0. It's your first session ever.
Information about yourself: {information}
You are talking in chat {active_chat}.
